<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>

	<body>
		<%- include('partials/header'); %>

			<!-- Container -->
			<div class="containerLogged">
				<div class="row">
					<div class="col-md-3">
						<h2>
							<%= user.nombre %>
						</h2>
						<img src="../images/avatars/<%= user.avatar %>" width="100%">
						<br>
						<div class="alert-success">Nombre del usuario: <%= user.first_name %>
								<%= user.last_name %> 
								
						</div>
						<br>
						<div class="alert-success">Email del usuario: <%= user.email %>
						</div>
						<br>
						<a href="/">
							<p>Volver a la tienda</p>
						</a>
						<br>
						<ul>
							<li><a href="/user/logout">Logout</a></li>
						</ul>
						<a href="/user/profile/edit/<%= user.id %> ">
						<button>Editar usuario</button></a>
					</div>
				</div>
			</div>
			<!-- //Container -->

			<%- include('partials/footer'); %>
			<script src="/js/mobileMenu.js"></script>
	</body>

</html>